$input-border-color: $input;
$form-select-padding-y: .375rem;
$form-select-padding-x: .75rem;
$input-border-radius: 5px;
$form-check-input-border: var(--bs-border-width) solid $input;
$breadcrumb-divider: quote("|");
$carousel-control-color: #FF7917;
$carousel-indicator-active-bg:#FF7917;
$carousel-caption-color:  #FF7917;