// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

/* -COLORS- */

$li-yellow: #FAEBD7;
$yellow: #FFD700;
$li-orange: #FFA500;
$orange: #FF7917;
$li-gray: #DCDCDC;
$gray: #6F6F6F;
$dark: #494949;

$active: #0d6efd;
$input: #73B0E8;

/* -FONTS- */

$roundM: 'M PLUS Rounded 1c', sans-serif;
$raleway: 'Raleway', sans-serif;