@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

@import 'variables';

* {
  margin: 0;
  padding: 0;
}

/* admin header/sidebar menu */

header {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  background-color: #494949;
  text-align: center;
}

.logo {
  margin-top: 1rem;
  width: 50px;
  height: 49px;
}

#nav-side {
  margin-top: 6rem;
}

.admin-sidebar {
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.adminmenu-icon {
  color: white;
  text-align: center;
  list-style: none;

  li i {
    font-size: 40px;
  }
}

/* admin top */

.top-bar {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: fixed;
  z-index: 901;
  top: 0;
  padding: 0 6vw;
  border-bottom: 1px solid #494949;
}

.title {
  position: relative;
  top: 0;
  font-size: 32px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.highlight {
  color: #2785F2;
}

.logout {
  color: #494949;
  cursor: pointer;
}

/* admin content */

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8vw 6vw 0 10vw;
  justify-content: center;
}

/* admin search and status */

.search-status {
  position: relative;
}

.search-bar-lg {
  width: 60%;
  height: 40px;
  position: inherit;
}

.search-bar-sm {
  width: 30%;
  float: right;
  display: inline;
}

.search-icon {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

.status-group-lg {
  float: right;
}

.status-group-sm {
  display: inline;
  width: 50%;
  position: absolute;
  right: 0;

  li {
    float: right;
    list-style: none;
  }
}

.status-group-lg li {
  float: right;
  list-style: none;
}

/* Users Table */

.user-table {
  width: 100%;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  border: 1px solid #494949;
}

table thead {
  background-color: #494949;
  color: #fff;

  tr th {
    height: 50px;
    font-size: 1.2rem;
    font-weight: normal;
    text-align: center;
  }
}

.usertable-tr {
  height: 150px;
  font-size: 1.2rem;
  font-weight: normal;
}

// Avatar for Icon
.avatar-icon {
  font-size: 4.5rem;
  color: #444;
}

.avatar-modal {
  font-size: 6rem;
  width: 6rem;
  height: 6rem;
  color: #494949;
}

// Avatar for Image
// List Style
.avatar-sm{
  width: 100px;
  height: 100px;
}

// Modal Style
.avatar{
  width: 200px;
  height: 200px;
}

/* Inbox Table*/

.inbox-tr {
  height: 90px;
  font-size: 1.2rem;
  font-weight: normal;
}

/* admin event */

.create-event {
  width: 20%;
  font-size: 1.5rem;
  color: #494949;
  display: inline;
  float: left;

  a {
    color: #494949;
    text-decoration: none;
  }
}

.eventtable-tr {
  height: 150px;
  font-size: 1.2rem;
  font-weight: normal;

  a {
    color: #494949;
  }
}

.theme {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Participants */

.participants {
  height: 150px;
  position: relative;
}

.participants-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.participants-left {
  position: absolute;
  bottom: 0;
  left: 0;

  li {
    list-style: none;
  }
}

/* Create Event */

.event-form {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  padding: 10vw;
  justify-content: center;
  width: 70%;

  h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
  }

  label {
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
}

.half-1 {
  width: 50%;
  display: inline-block;
}

.form-group textarea {
  height: 10rem;
}

/* admin footer */

.footer {
  width: 100%;
  height: 100px;
  position: absolute;
  font-family: 'Raleway', sans-serif;
}
