.avatar-wrap {
    position: relative;
    display: inline;

    .avatar {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border: 1px solid var(--dark);
        border-radius: 50%;
    }

    .level-wrap {
        border-radius: 50%;
        border: 1px solid var(--orange);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
        bottom: -0.25rem;
        right: -0.5rem;

        .level-icon {
            width: 1rem;
            height: 1rem;
        }
    }
}

.modal-exclamation {
    font-size: 8rem;
}