@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;800&family=Raleway:wght@400;600;700;800&display=swap');

:root {
  /* ---COLORS--- */

  --li-yellow:#FAEBD7;
  --yellow:#FFD700;
  --li-orange:#FFA500;
  --orange:#FF7917;
  --li-gray:#DCDCDC;
  --gray:#6F6F6F;
  --dark:#494949;
  --active:#0d6efd;
  --input:#73B0E8;

  /* 
      color: var(--bs-primary); <=> primary color
  */

  /* ---FONTS--- */

  --roundM:'M PLUS Rounded 1c', sans-serif;
  --raleway:'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  background-color: #FAEBD7;
}

.main {
  margin-right: 100px;
  margin-left: 100px;
}

.section-header h3 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 250px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
  color: #FFA500;
  font-family: var(--roundM);
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.question-box {
  background-color: #FFD700;
  border-radius: 20px 20px 0px 0px;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.answer-box {
  background-color: #FFF;
  border-radius: 0px 0px 20px 20px;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.faq-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: 16px;
}

p.faq-text {
  font-family: var(--roundM);
  font-weight: bolder;
  font-size: 16px;
  color: #6F6F6F;
  margin: auto;
  overflow: auto;
  -ms-overflow-style: none;
  text-align: left;
  width: 80%;

  &::-webkit-scrollbar {
    display: none;
  }
}

a.contact-us-link {
  font-family: var(--roundM);
  font-weight: 100;
  font-size: 16px;
  color: #6E6E6E;
}

.guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 5rem;
}

p.other {
  font-family: var(--roundM);
  font-weight: bolder;
  font-size: 24px;
  color: #6F6F6F;
}
