#white-wrap {
    background-color: #fff !important;
    position: relative;
    padding-top: calc(72px + 1rem);
    
    h3 {
        padding-left: 1rem;
    }

    h4 {
        padding-left: 2rem;
    }

    p {
        padding-left: 3rem;
        margin-bottom: 3rem;
        line-height: 2rem;
    }

}

main>.container-fluid {
    display: none;
}

#privacy-link {
    position: absolute;
    top: calc(72px + 50px);
    right: 10%;
}