
h2{
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-top: 30px;
}

h3{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

p{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/* CATEGORY */
.category{
  background-color: white;
  color: var(--gray);
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

#category-title{
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.category a{
  text-decoration: none;
}

.row{
  margin-bottom: 25px;
}

.card{
  margin-right: 16px;
}

.card-top{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top{
  height: 80px;
  width: 80px;
}

.card-body{
  padding: 8px 0px;
}

/* PROFILE */
.profile{
  background-color: var(--yellow);
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.profile h2{
  text-align: center;
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-top: 30px;
}

.profile h3{
  text-align: center;
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.profile p{
  text-align: center;
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0px;
}

.edit-button{
  width: 100%;
  text-align: center;
  
}

.btn{
  width: 100px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items:center;
  justify-content: center;
}

.avatar-md{
  height: 70px;
  width: 70px;
  font-size: 45px;
  border-radius: 50px;
}

#avatar-sm{
  height: 32px;
  width: 32px;
  // object-fit: cover;
}

.profile-user{
  text-align: center;
}

.avatar-level{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: white;
  display:inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.username{
  display:inline-flex;
  vertical-align: middle;
  margin-bottom: 0px;
}

/* RESERVED CHAT ROOM */
.reserved{
  background-color: var(--yellow);
  /* height:500px; */
  border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reserved h2{
  text-align: center;
  color: white;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding-top: 30px;
}

.reserved a{
  text-decoration: none;
  color: var(--gray);
}

.reserved-room{
  display:flex;
  flex-wrap: wrap;
  background-color: white;
  width: 80%;
  height: 50px;
  align-items: center;
  border-radius: 5px;
  color: var(--gray);
}

.reserved-item{
  width: 50%;
  text-align: center;
}

/* Reserch page */
  .category{
    /* height: 800px; */
    padding-bottom: 10px;
  }

  .category-room{
    display:flex;
    flex-wrap: wrap;
    background-color: var(--yellow);
    width: 90%;
    align-items: center;
    border-radius: 5px;
    color: var(--gray);
    margin: 0px;
    justify-content: space-around;
  }

  .category-item{
    width: auto;
    text-align: center;
  }

  .pagenation ol{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    list-style: none;
    padding-right: 50px;
  }

  .pagenation li a{
    display: block;
    padding:10px;
    text-decoration: none;
    line-height: 1;
    color: var(--gray);
  }

  .pagenation a{
    width: 36px;
    height: 36px;
  }

  .arrow{
    background-color: var(--li-gray);
    border-radius: 5px;
  }

/* myschdule */
#btn-join{
  width: 60px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  padding: 0px;
}

.category-myroom{
  display:flex;
  flex-wrap: wrap;
  background-color: var(--yellow);
  width: 90%;
  align-items: center;
  border-radius: 5px;
  color: var(--gray);
  margin: 0px;
  justify-content: space-around;
}


/* edit-profile */
.form{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10%;
  background-color: white;
}

.edit-title{
  text-align: center;
}

.edit-avatar{
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items:center;
  justify-content: center;
  border: 2px solid var(--li-gray);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#edit-row{
  margin-bottom: 0px;
}

#edit-btn{
  float: right;
}

/* chat member */
.form-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.level-img-md{
  width: 40px;
  height: 46px;
  margin: 0px 10px;
}

.line{
  border-bottom: 2px solid var(--gray);
  display: flex;
  justify-content: space-between;
}

.join-members{
  background-color: var(--gray);
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.join-member{
  border-bottom: 1px solid var(--gray);
  display: flex;
  align-items: center;
}

.avatar-sm{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  align-items:center;
  justify-content: center;
  border: 1px solid var(--gray);
}

.avatar-img-sm{
  width: 15px;
  height: 15px;
}

//Join_users
.form{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10%;
  background-color: white;
}

.join-users{
  display:flex;
  width: 60%;
  align-items: center;
  margin: 0px;
  height: 32px;
}

.join-user{
  width: auto;
}

.line{
  border-bottom: 2px solid var(--gray);
  display: flex;
  justify-content: space-between;
}

.join-members{
  background-color: var(--gray);
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

// create_meeting
.buttons {
  text-align: right;
}

//research.show
.arrow{
  color: var(--orange);
}


      