@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;800&family=Raleway:wght@400;600;700;800&display=swap');

:root {
  /* ---COLORS--- */

  --li-yellow:#FAEBD7;
  --yellow:#FFD700;
  --li-orange:#FFA500;
  --orange:#FF7917;
  --li-gray:#DCDCDC;
  --gray:#6F6F6F;
  --dark:#494949;
  --active:#0d6efd;
  --input:#73B0E8;

  /* 
      color: var(--bs-primary); <=> primary color
  */

  /* ---FONTS--- */

  --roundM:'M PLUS Rounded 1c', sans-serif;
  --raleway:'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  background-color: #FAEBD7;
  flex-wrap: wrap;
}

.main {
  margin-right: 100px;
  margin-left: 100px;
}

/* banner */

.banner {
  opacity: 0.8;
  background-size: cover;
  background-position: cover;
  position: relative;
  width: 100%;
  height: 670px;
}

.top-image {
  position: absolute;
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 45%;
  left: 7.5%;
  transform: translateY(-50%);
  width: 50%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  h2 {
    color: #ffffff;
    text-shadow: 20px 4px 4px #6F6F6F;
    font-weight: bolder;
    font-size: 64px;
    font-family: var(--roundM);
  }

  p {
    color: #fff;
    text-shadow: 20px 4px 4px #6F6F6F;
    margin-top: 2em;
    font-size: 16px;
    font-family: var(--raleway);
    font-weight: 700;
  }
}

.start-button {
  position: absolute;
  bottom: 95px;
  left: 40%;
}

button.start {
  padding: 1em;
}

/* About Us */

.about-us {
  margin-bottom: 120px;
}

.comment h2 {
  font-family: var(--raleway);
  font-size: 32px;
  color: #6F6F6F;
  text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
  font-weight: bolder;
  text-align: center;
}

.section-header h3 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 250px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
  color: #FFA500;
  font-family: var(--roundM);
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.content {
  background-color: #fff;
  border: solid #FFD700;
  border-radius: 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    width: 50%;
    font-family: var(--roundM);
    font-size: 24px;
    color: #6F6F6F;
    font-weight: bolder;
    text-align: center;
    overflow: auto;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    strong {
      color: #FFA500;
      font-size: 32px;
    }
  }
}

.use-item {
  margin-bottom: 4rem;
  flex-wrap: wrap;
}

.description {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

h4.title {
  color: #fff;
  font-weight: bolder;
  font-size: 24px;
  font-family: var(--roundM);
  margin-bottom: 40px;
}

.col-9 {
  overflow: hidden;
}

.video {
  object-fit: cover;
  height: 500px;
  width: 100%;
}

.instruction {
  text-align: center;
  width: 70%;
  margin-right: 10px;
}

p.instruct-text {
  color: #6F6F6F;
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
}

.avatar-level {
  background-color: #fff;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.username {
  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;
  margin-bottom: 0px;
  color: #6E6E6E;
  font-family: var(--roundM);
  font-weight: bolder;
  font-size: 24px;
  margin-left: 1rem;
}

.avatar {
  width: 88px;
  height: 88px;
}

.review-level {
  margin-left: 30px;
}

img.star {
  width: 30px;
  height: 30px;
}

.reviews > div {
  display: flex;
  align-items: flex-end;
}

p.review {
  color: #6F6F6F;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--roundM);
}

img.go-hand {
  width: 60px;
  height: 60px;
}
